<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashVacia"
             />
        <activity
            android:name=".Splash"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"/>

        <activity
            android:name=".Registro"
            android:exported="false" />
        <!--
 API KEY: Obtenida con cuenta de GCP de Felix
            https://developers.google.com/maps/documentation/android-sdk/get-api-key
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8fagWBuxtaZcqSmRuyRHbBsK4PmpyA_I" />

        <activity
            android:name=".Mapa"
            android:exported="false"
            android:label="@string/title_activity_mapa" />
        <activity
            android:name=".InicioSesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>